body{
    
    background: white url("https://media.giphy.com/media/PBln5fAX5FCpO/giphy.gif");
}

#display{
    height: 125;
    background-color: darkred
    
}

button{
    margin-left: 50;
    margin-top: 50;
}

form{
    background-color: gold;
    color: white;
    height: 125;
}

input{
    margin-left: 100;
}